<div id="columns">

  <div id="side">
    <ul>
      <% @class_orgs.each do |class_org| %>
        <% if class_org.id == @class_org.id %>
          <li><%= link_to(class_org.description, class_org, class: "active") %> </li>
        <% else %>
          <li><%= link_to(class_org.description, class_org) %> </li>
        <% end %>
      <% end %>
    </ul>
    <ul>
      <li><%= link_to '返回', :back %></li>
    </ul>
  </div>

  <div id="main">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>年级:</strong>
      <%= @class_org.grade_cn %>
    </p>

    <p>
      <strong>班号:</strong>
      <%= @class_org.number %> 班
    </p>

    <p>
      <strong>分数:</strong>
      <%= @class_org.score %>
    </p>

    <p>
      <strong>考核记录</strong>
    </p>
    <table>
      <thead>
        <tr>
          <th>班级</th>
          <th>教师</th>
          <th>考核项</th>
          <th>详细信息</th>
          <th>分数</th>
          <th>日期</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @activities.each do |activity| %>
          <tr>
            <td><%= activity.class_org.description %></td>
            <td><%= activity.class_org.user.name %></td>
            <td><%= activity.exam_item.name %></td>
            <td><%= activity.description %></td>
            <td><%= activity.score %></td>
            <td><%= activity.date %></td>
            <% if current_user && current_user.admin? %>
              <td><%= link_to '删除', activity, method: :delete, data: { confirm: '确定删除?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <% if current_user && current_user.admin? %>
      <%= link_to '新建考核记录', new_class_org_activity_path(@class_org) %>
    <% end %>

    <%= link_to '编辑', edit_class_org_path(@class_org) %>
  </div>
</div>
