<%= form_with(model: activity) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "考评指标" %>
    <%= form.select(:std_activity_id, StdActivity.all.map {|x| [x.expr, x.id]}) %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label "Class" %>
    <%= form.select(:class_org_id, ClassOrg.all.map {|x| [x.description, x.id]}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
